* {
    
}

body {
    background-color: lightblue;
}

.body {
    margin: 0% auto;
    padding: 60px 5%;
    width: 85%;
    background-color: white;
    height: auto;
    overflow: auto;
}

h1 {
	text-align: center;
    background-color: lightblue;
    font-size: 3em;
    margin: 0px;
    padding: 3%;
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
}

label{
    font-family: sans-serif;
}

p{
    font-family: 'Archivo', sans-serif;
}

.intro {
}

.searchsection {
	margin: 50px auto 40px auto;
	width: 60%;
	padding: 10px;
	text-align: center;
}

#advanced {
    background: lightgrey;
    padding: 5px;
    overflow: hidden;
    height: 18px;
}

#advanced h2 {
    font-size: 1.2em;
}

#genre{
    display: block;
}

.option {
	margin: 10px 20px 20px;
	display: inline-block;
	<><><>float: left;
}

.genres {
	column-count: 3;
	column-gap: 40px;
	column-width: 100px;
	column-rule-style: solid;
	margin: 10px 20px 20px;
	display: inline-block;
}

.genre {
	display: block;
}

#resultssection, #debug {
	clear: both;
}

.result {
	position: relative;
	height: 400px;
	width: 150px;
	float: left;
	border: 1px solid gray;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.result img {
	position: absolute;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: block;
	height: 60%;
	width: 70%;	
}

.content {
    width: 85%;
    background-color: white;
    height: auto;
}