* {
    
}

h1 {
	text-align: center;
}

.searchsection {
	margin: auto;
	width: 60%;
	padding: 10px;
	text-align: center;
}

.advanced {
    background: lightgrey;
    padding: 5px;
}

.advanced h2 {
    font-size: 1.2em;
}

.option {
	margin: 10px 20px 20px;
	display: inline-block;
	<><><>float: left;
}

#resultssection, #debug {
	clear: both;
}

.result {
	position: relative;
	height: 400px;
	width: 150px;
	float: left;
	border: 1px solid gray;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.result img {
	position: absolute;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: block;
	height: 60%;
	width: 70%;	
}
